<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.cordova.ChatTracks"
    version   = "1.0.0">

<name>ChatTracks</name>

<description>
ChatTracks.
</description>

<author href="https://github.com/sirius2013" email="betopone310@gmail.com">
Alex Savarin
</author>

<access origin="*"/>
<access origin="*" onlyInBrowser="true" />


<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
 <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />

<feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/geolocation"/>

	
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="icon.png" />
    <icon src="res/icon-36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon-48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon-72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon-96.png"  gap:platform="android"    gap:density="xhdpi" />

    <icon src="res/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />


    <gap:splash src="res/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="res/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />

	
</widget>
